html {
	font-family: "微軟正黑體";
}

body {
	font-family: "微軟正黑體", Helvetica, Arial, sans-serif;
  overflow-y: scroll;
}

a {
	color: #333;
}

.navbar {
  border-radius: 0;
}

.nav  li  a:hover {
  background-color: none;
}

.nav  li  a:hover {
  background-color: none;
}

.nav > li > span {
	padding-top: 15px;
	padding-bottom: 15px;

	display: block;
	padding: 15px 15px;

}

.navbar-white{
	background: #FFF;
  border: none;
}

/*
*  Teacher
*/

.teacher {
	padding: 50px;
}

.teacher .name {
  padding:  0 15px 0 15px;
}

.teacher .title {
  padding: 15px;
  text-align: center;
}

.teacher .items .item {
  padding: 5px;
}

.teacher .profile {
  padding: 10px 0;
}

/* Animation */

img {
  width: 100%;
}

.teachers {

}

.login {
  margin-top: 80px;
}
