<div class="teacher animated fadeIn">
	<div class="row">

		<div class="head text-center col-md-4 col-md-offset-4">
			<img ng-src="{{user.photo}}" ng-class="photo" alt="">
		</div>

	</div>

	<div class="row">

		<div class="profile col-md-8 col-md-offset-2">
			<h1 class="name text-center" class="name">{{user.name}}</h1>
			<h3 class="job text-center">{{user.job}}</h3>
		</div>

	</div>

	<div class="row">
		<div class="profile col-md-4 col-md-offset-4">
			<div class="row">
				<span class="lab text-right col-md-3">實驗室</span><span class="col-md-9">{{user.lab}}</span>
			</div>
			<div class="row">
				<span class="research text-right col-md-3">研究項目</span><span class="col-md-9">{{user.research}}</span>
			</div>
			<div class="row">
				<span class="phone text-right col-md-3">電話</span><span class="col-md-9">{{user.phone}}</span>
			</div>
			<div class="row">
				<span class="email text-right col-md-3">Email</span><span class="col-md-9">{{user.email}}</span>
			</div>
			<div class="row">
				<span class="web text-right col-md-3">網站</span><span class="col-md-9">{{user.web}}</span>
			</div>
		</div>
	</div>

	<hr />

	<div class="row">

		<div class="items col-md-8 col-md-offset-2" ng-repeat="type in types">
			<h1 class="title" class="text-center">{{type.name}}</h1>

			<ul class="items">
				<li ng-repeat="item in type.items" class="item">{{item.title}}</li>
			</ul>
		</div>

	</div>
</div>