<div class="login animated fadeIn">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<form method="post" name="loginForm" class="form-horizontal" ng-submit="login()">
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
			    <div class="col-sm-10">
			      <input ng-model="email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">密碼</label>
			    <div class="col-sm-10">
			      <input ng-model="password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <div class="checkbox">
			        <label>
			          <input type="checkbox"> 記住我
			        </label>
			      </div>
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="submit" class="btn btn-default">登入</button>
			    </div>
			  </div>
			</form>
		</div>
	</div>
</div>