<!-- Header -->
<nav class="navbar navbar-white">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="teacherIndex()">教師平台</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!isAuthenticated()"><a ui-sref="login()">登入</a></li>
        <li ng-if="isAuthenticated()"><a ui-sref="logout()">登出</a></li>
      </ul>
    </div>
  </div>
</nav>
