<div class="teachers row">

	<div class="teacher col-md-4" ng-repeat="user in users">
		<a class="photo" ui-sref="teacherShow({ id: user.id })"><img ng-src="{{user.photo}}" alt=""></a>
		<a class="name text-center" ui-sref="teacherShow({ id: user.id })"><h2>{{user.name}}</h2></a>
	</div>

</div>
